.sidebar {
  position: relative;
  height: 50dvh;
  max-height: 50dvh;
  padding: 10px;
  background-color: var(--color-white-transparent);
  border: 1px solid var(--color-white-transparent);
  backdrop-filter: var(--blur);
  border-radius: 10px;
  overflow-y: auto;
}

.sidebar--left {
  grid-area: sidebar-left;
}

.sidebar--right {
  grid-area: sidebar-right;
}

@media (min-width: 960px) {
  .sidebar {
    height: 100%;
    max-height: 100%;
  }
}
