.switcher {
  grid-area: switcher;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.switcher__item {
  list-style: none;
}

.switcher__item button {
  border-radius: 0;
  transition:
    background-color 0.3s,
    border-color 1s,
    color 0.3s;
}

.switcher__item:first-of-type button {
  border-radius: var(--radius-main) 0 0 var(--radius-main);
  border-right-width: 0;
}

.switcher__item:last-of-type button {
  border-radius: 0 var(--radius-main) var(--radius-main) 0;
  border-left-width: 0;
}

.switcher:hover .switcher__item button {
  border-color: var(--color-main);
}
