.plate {
  display: grid;
  grid:
    'sidebar-left switcher      sidebar-right' auto
    'sidebar-left roundel       sidebar-right' 2fr
    'sidebar-left measurement   sidebar-right' 1fr
    / 1fr 2fr 1fr;
  height: calc(100dvh - 100px);
  gap: 10px;
  padding: 10px;
}

.plate__sidebar {
  background-color: rgba(0, 100, 100, 20%);
}

.plate__sidebar--left {
  grid-area: sidebar-left;
}

.plate__sidebar--right {
  grid-area: sidebar-right;
}
