/* stylelint-disable color-function-notation */
:root {
  --transparency: 0.5;
  --transparency-weak: 0.3;
  --color-main-value: 102, 51, 153;
  --color-blue-value: 36, 193, 242;
  --color-green-value: 126, 199, 134;
  --color-red-value: 200, 0, 120;
  --color-yellow-value: 218, 165, 32;
  --color-orange-value: 248, 152, 95;
  --color-violet-value: 125, 143, 201;
  --color-white-value: 255, 255, 255;
  --color-gray-value: 205, 205, 205;
  --color-main: rgb(var(--color-main-value));
  --color-blue: rgb(var(--color-blue-value));
  --color-green: rgb(var(--color-green-value));
  --color-red: rgb(var(--color-red-value));
  --color-yellow: rgb(var(--color-yellow-value));
  --color-orange: rgb(var(--color-orange-value));
  --color-violet: rgb(var(--color-violet-value));
  --color-white: rgb(var(--color-white-value));
  --color-gray: rgb(var(--color-gray-value));
  --color-main-transparent: rgba(var(--color-main-value), var(--transparency));
  --color-white-transparent: rgba(
    var(--color-white-value),
    var(--transparency)
  );
  --color-blue-transparent: rgba(var(--color-blue-value), var(--transparency));
  --color-red-transparent: rgba(var(--color-red-value), var(--transparency));
  --color-green-transparent: rgba(
    var(--color-green-value),
    var(--transparency)
  );
  --color-gray-transparent: rgba(var(--color-gray-value), var(--transparency));
  --color-violet-transparent: rgba(
    var(--color-violet-value),
    var(--transparency)
  );
  --color-orange-transparent: rgba(
    var(--color-orange-value),
    var(--transparency)
  );
  --color-main-transparent-weak: rgba(
    var(--color-main-value),
    var(--transparency-weak)
  );
  --color-blue-light: #cccce1;
  --color-gray-light: #efefef;
  --color-link-active: #e76f25;
  --radius-main: 10px;
  --radius-small: 4px;
  --border-width-main: 2px;
  --background: #fff;
  --foreground: #171717;
  --shadow: 0 0 10px 0 var(--color-main-transparent);
  --blur: blur(20px);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  max-width: 100dvw;
  max-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
