.plate__roundel {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 60vh;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border: 10px solid var(--color-white);
  box-shadow: 0 0 0 4px var(--color-main-transparent);
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.plate__roundel::before {
  content: '';
  position: absolute;
  background-color: var(--color-white);
  top: 0;
  left: calc(50% - 5px);
  width: 10px;
  height: 100%;
}

.plate__roundel-section-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(50% - 5px);
}

.plate__roundel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s;
  cursor: pointer;
  backdrop-filter: var(--blur);
}

.plate__roundel-section svg {
  opacity: 0.7;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.plate__roundel-section:hover svg {
  opacity: 1;
  transform: scale(1.2);
}

.plate__roundel-section--vegetables {
  height: 100%;
  background-color: var(--color-green-transparent);
}

.plate__roundel-section--proteins {
  height: calc(50% - 5px);
  background-color: var(--color-blue-transparent);
}

.plate__roundel-section--carbohydrates {
  height: calc(50% - 5px);
  background-color: var(--color-orange-transparent);
}

.plate__roundel-section--fats {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 34%;
  aspect-ratio: 1/1;
  background-color: var(--color-violet);
  border: 10px solid var(--color-white);
  border-radius: 50%;
}

.plate__roundel-section--fats::before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: 100%;
  width: 30vh;
  height: 10px;
  background-color: var(--color-white);
}

.plate__roundel-section-content {
  padding: 0 50px 0 0;
  color: var(--color-white);
  font-size: 12px;
  text-align: center;
}

.plate__roundel-section-content-value,
.plate__roundel-section-content-description {
  display: block;
}

.plate__roundel-section-content-value {
  font-size: 24px;
}

.plate__roundel-section--fats .plate__roundel-section-content {
  padding: 0;
}

@media (min-width: 960px) {
  .plate__roundel {
    width: auto;
    max-height: 60vh;
  }
}
