.measurement {
  grid-area: measurement;
  position: relative;
  border-radius: var(--radius-main);
  font-size: 12px;
  overflow: hidden;
}

.measurement__user-graph {
  border-radius: var(--radius-main);
  overflow: hidden;
}

.measurement__user-graph,
.measurement__chosen-graph {
  display: flex;
  width: 100%;
  height: calc(100% - 15px);
  align-items: flex-end;
}

.measurement__chosen-graph {
  position: absolute;
  bottom: 0;
  left: 0;
}

.measurement__user-graph-item,
.measurement__chosen-graph-item,
.measurement__graph-titles-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.measurement__user-graph-item {
  background-color: var(--color-blue-transparent);
}

.measurement__user-graph-item--over {
  justify-content: flex-end;
}

.measurement__chosen-graph-item {
  justify-content: center;
  box-shadow: inset 0 0 0 2px var(--color-blue-transparent);
  border-radius: var(--radius-main) var(--radius-main) 0 0;
  background: repeating-linear-gradient(
    45deg,
    var(--color-blue-transparent) 0,
    var(--color-blue-transparent) 2px,
    transparent 2px,
    transparent 4px
  );
  background-color: var(--color-blue-transparent);
  transition: height 0.3s;
}

.measurement__chosen-graph-item:first-of-type {
  border-radius: var(--radius-main) var(--radius-main) 0 var(--radius-main);
}

.measurement__chosen-graph-item:last-of-type {
  border-radius: var(--radius-main) var(--radius-main) var(--radius-main) 0;
}

.measurement__chosen-graph-item--over {
  background: var(--color-red-transparent)
    repeating-linear-gradient(
      45deg,
      var(--color-red-transparent) 0,
      var(--color-red-transparent) 2px,
      transparent 2px,
      transparent 4px
    );
  box-shadow: inset 0 0 0 2px var(--color-red-transparent);
  color: var(--color-red);
}

.measurement__chosen-graph-item--enough {
  background: var(--color-green-transparent)
    repeating-linear-gradient(
      45deg,
      var(--color-green-transparent) 0,
      var(--color-green-transparent) 2px,
      transparent 2px,
      transparent 4px
    );
  box-shadow: inset 0 0 0 2px var(--color-green-transparent);
  color: var(--color-green);
}

.measurement__graph-titles {
  width: 100%;
  display: flex;
  gap: 10px;
}

.measurement__graph-titles-item {
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: var(--radius-main);
  color: var(--color-white);
  font-weight: 700;
}

.measurement__graph-titles-item--calories {
  border-color: var(--color-red);
  color: var(--color-red);
}

.measurement__graph-titles-item--proteins {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
}

.measurement__graph-titles-item--fats {
  border-color: var(--color-violet);
  background-color: var(--color-violet);
}

.measurement__graph-titles-item--carbohydrates {
  border-color: var(--color-orange);
  background-color: var(--color-orange);
}
