.chosen-product-list__item {
  display: flex;
  align-items: center;
  margin: 0 5px;
  border-radius: 20px;
  border: 1px solid var(--color-main-transparent);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.chosen-product-list__item:hover {
  background-color: var(--color-main-transparent);
}

.chosen-product-list__item-name {
  flex-grow: 1;
  padding-left: 5px;
  font-size: 12px;
  transition: color 0.3s;
}

.chosen-product-list__item:hover .chosen-product-list__item-name {
  color: var(--color-white);
}

.chosen-product-list__item-input {
  width: 60px;
  height: 40px;
  padding: 10px 5px;
  border-radius: var(--radius-main) 20px 20px var(--radius-main);
  appearance: none;
  font-size: 14px;
  text-align: center;
}

.chosen-product-list__item-delete-button {
  padding: 10px;
}
