.plate__roundel {
  display: flex;
  gap: 10px;
  height: 100%;
  max-height: 60vh;
  aspect-ratio: 1/1;
  margin-inline: auto;
  background-color: var(--color-blue-light);
  border: 10px solid var(--color-blue-light);
  border-radius: 50%;
  overflow: hidden;
}

.plate__roundel-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(50% - 5px);
}

.plate__roundel-vegetables,
.plate__roundel-proteins,
.plate__roundel-carbohydrates {
  border-radius: var(--radius-main);
  transition: opacity 0.3s;
}

.plate__roundel-vegetables {
  height: 100%;
  background-color: var(--color-green);
}

.plate__roundel-proteins {
  height: calc(50% - 5px);
  background-color: var(--color-red);
}

.plate__roundel-carbohydrates {
  height: calc(50% - 5px);
  background-color: var(--color-yellow);
}

.plate__roundel-vegetables:hover,
.plate__roundel-proteins:hover,
.plate__roundel-carbohydrates:hover {
  opacity: 0.8;
}
